@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins";
}

.active {
  @apply bg-indigo-600 dark:bg-blue-400;
}

.Toastify {
  &__toast--warning {
    @apply dark:bg-gray-800 dark:text-white;
  }

  &__toast--error {
    @apply dark:bg-gray-800 dark:text-white;
  }

  &__toast-error {
    @apply dark:bg-gray-800 dark:text-white;
  }
}
